.idea/*
.vscode/*
logs/*
data/*
tissue/*
ood_data/*
results/*
tests/data/*
tests/logs/*
taxonomy_Domain/*
lightning_logs/*
**/.ipynb_checkpoints/
**/__pycache__/
./*.csv
*.ipynb
*.tsv
*.png
*.pdf
*.pkl
experiments/results/pdbs/*
job_output/*
