torch
torch_geometric
rdkit>=2022
scikit-learn
numpy
pandas
glyles
git+https://github.com/BojarLab/glycowork.git@1123e1cee9f189ea5e82c6c1cda9764749b6da36
jsonargparse
rich
pytorch-lightning
pytest
pyyaml
networkx
torchmetrics
