torch
torch_geometric>=2.6.1
rdkit>=2022
scikit-learn
numpy
pandas
glyles>=1.0.0
git+https://github.com/BojarLab/glycowork.git@145877da82cf0200b062945dfb85584b9d9ef30d
jsonargparse
rich
pytorch-lightning
pytest
pyyaml
networkx
torchmetrics
transformers
sentencepiece
xformers==0.0.28.post1
protobuf
torch_scatter
