torch
torch_geometric
rdkit
scikit-learn
numpy
pandas
git+https://github.com/KalininaLab/glyles.git
git+https://github.com/BojarLab/glycowork.git@ab73b62d7d500d321592cca20cdf3b8507f60026
jsonargparse
rich
pytorch-lightning
pytest
